@model OBGpgm.Models.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnPage = Convert.ToInt32(ViewBag.returnPage);
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChampion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChampion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRunnerUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRunnerUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeamId" asp-route-pg="@returnPage">Edit</a> |
    <a asp-action="Index" asp-route-pg="@returnPage">Back to List</a>
</div>
