@model OBGpgm.Models.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h1>Details</h1>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChampion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChampion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRunnerUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRunnerUp)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.TeamId">Update | </a>
    }
    <a asp-action="List">Back to List</a>
</div>
