@model OBGpgm.Models.Payout

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnPage = Convert.ToInt32(ViewBag.returnPage);
}

<h1>Details</h1>

<div>
    <h4>Payout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Players)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaptainId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaptainId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player1Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player1Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player2Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player2Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player3Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player3Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player4Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player4Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPayout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPayout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Individual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Individual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PayoutId" asp-route-pg="@returnPage">Edit</a> |
    <a asp-action="Index" asp-route-pg="@returnPage">Back to List</a>
</div>
