@model Portrait

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LargeImage)
        </dt>
        <dd class="col-sm-10">
            <img class="img-responsive full-width"
                    style="border:30px; border-color:brown; border-style:inset;"
                    src="data:image/jpeg;base64,@Convert.ToBase64String(Model.LargeImage)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbImage)
        </dt>
        <dd class="col-sm-10">
            <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ThumbImage)" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    <div>
        @if (User.IsInRole("Super Admin"))
        {
            <a asp-action="Update" asp-route-id="@Model.Id">Update | </a>
        }
        <a asp-action="List">Back to List</a>
    </div>
</div>