@model OBGpgm.Models.Session

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnPage = Convert.ToInt32(ViewBag.returnPage);
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamsD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamsD1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamsD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamsD2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSeason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentSeason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.President)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.President)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VicePresident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VicePresident)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secretary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secretary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treasurer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treasurer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondVp1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondVp1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondVp2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondVp2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondVp3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondVp3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondVp4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondVp4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DraftType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SessionId" asp-route-pg="@returnPage">Edit</a> |
    <a asp-action="Index" asp-route-pg="@returnPage">Back to List</a>
</div>
